.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: url(../images/header-bg.jpg) no-repeat 0 0 fixed;
	background-size: cover;
	padding-top: 0;

	p {
		color: #fff;
	}

	img.logo.front {
		height: 4em;
	}

	.hero-heading {
		font-size: 2em;
	}

	.subtext {
		font-size: 1em;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 1em;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
	.hero {

		img.logo.front {
			height: auto;
		}

		.hero-heading {
			font-size: 4em;
		}

		.subtext {
			font-size: 1.2em;
		}
	}
}
