/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inherit;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fd0000;
  position: absolute;
  right: 0;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
nav {
  font-weight: normal;
}

.main-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 aria-expanded="true/false" will be for JavaScript
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could use `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;  
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

.main-menu ul li ul.dropdown {
  padding-top: 0
}

@media #{$mid-point} {
  a {

    &.menu-toggle {
      display: none;
    }

  }

  nav {
    text-transform: uppercase;
    font-size: 1em;
    z-index: 9999;
    font-weight: bold;
    text-align: left;
    position: absolute;
    margin-top: 2.2em;
    right: 0;
    padding: 0 2em;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline;
      float: left;
      margin-right: 5px;

    }

    &.main-menu {
      text-align: left;
      position: absolute;
      margin-top: 2.2em;
      right: 0;
      padding: 0 2em;


    }

    &.main-menu .menu-close {
      display: none;
      visibility: hidden;
    }

    &.main-menu ul.top-navigation li {
      position: relative;
    }

    &.main-menu ul.top-navigation li ul.dropdown {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: .35s ease-in-out;
      text-align: left;
      position: absolute;
      margin-top: 2.2em;
      right: 0;
      padding: 0 2em;
    }

    &.main-menu ul.top-navigation li:hover > ul.dropdown,
    &.main-menu ul.top-navigation li ul.dropdown:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      margin: 0;
      padding: 0;
      background: #fd0000;
    }

    &.main-menu ul.top-navigation li ul.dropdown li {
      clear: both;
      width: 100%;
    }

  }
    
}
