/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.skipnav {
  text-align: left;

  a {
    position: absolute; left: -10000px; width: 1px; height: 1px; overflow: hidden;
  }

  a:focus, .skipnav a:active {
    position: static; left: 0; width: auto; height: auto; overflow: visible; text-decoration: underline;
  }
}

/* Button styling */
.menu-toggle {
  display: inherit;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fd0000;
  position: absolute;
  left: 0;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
nav {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  text-align: left;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;

  ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
  }

  a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }

  li:first-child a {
    border-top: 1px solid #383838;
  }

  a:hover,
  a:focus {
    background: #333;
    text-decoration: underline;
  }

  .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul li ul.dropdown {
    padding-top: 0
  }
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 aria-expanded="true/false" will be for JavaScript
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could use `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;  
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

@media #{$desktop} {
  a {

    &.menu-toggle {
      display: none;
    }

  }

  nav {
    z-index: 9999;
    font-weight: bold;
    height: auto;
    position: absolute;
    margin-top: 2.2em;
    right: 0;
    left: auto;
    padding: 0;
    overflow: visible;

    .menu-close {
      display: none;
      visibility: hidden;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%
    }

    ul.top-navigation li ul.dropdown li {
      clear: both;
      width: 100%;
    }

    ul.top-navigation li {
      position: relative;
    }

    ul.top-navigation li ul.dropdown {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      text-align: left;
      position: absolute;
      margin-top: 2.2em;
      left: 0;
      padding: 0 2em;
      width: 200px;
    }

    ul.top-navigation li:hover > ul.dropdown,
    ul.top-navigation li ul.dropdown:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      margin: 0;
      padding: 0;
      background: #fd0000;
    }

    ul.top-navigation li ul.dropdown li:last-child a {
      border-bottom: none;
    }

    ul.top-navigation li:last-child a {
      border-bottom: none;
    }

    li {
      display: inline;
      float: left;
      margin-right: 5px;

      &:first-child a {
        border-top: none;
      }

      &.has-dropdown>a {
        padding-right: 1.5em;
      }

      &.has-dropdown:hover>a{
        background: #fd0000;
      } 

      &.has-dropdown>a:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset .4em;
        border-color: rgba(255, 255, 255, .7) transparent transparent transparent;
        border-top-style: solid;
        position: absolute;
        top: 1.2em;
        right: .5em;
      }

      &:hover {
        border-bottom: 1px solid #fd0000;
      }

      &.has-dropdown:hover{
        border-bottom: none;
      } 

      &.has-dropdown>a:hover {
        border-bottom: none;
      } 

      a:hover,
      a:focus {
        background: none;
        text-decoration: none;
      }

      ul {

        li {
          a:hover,
          a:focus {
            background: #b10000;
          }
        }
      }

      &.has-dropdown ul li:hover {
        border-bottom: none;
      }

      &.highlight {
        border: 1px #ccc solid;
        border-radius: 5px;

        &:hover a {
          background: #fff;
          color: $brand-color;
        }
      }

    }


    a {
      display: block;
      padding: .75em 10px;
      line-height: 1em;
      font-size: 1em;
      color: #fff;
      text-decoration: none;
      border-bottom: none;
    }

  }

  @supports (position: absolute) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
      position: absolute;
    }
  }
    
}
