.nav-open nav {
	padding: 10px 0;
	z-index: 9999;
	position: relative;
	ul {
		margin-top: 6.2em;
		background: #000000;
	}
	li {
		display: block;
		float: none;
		margin-right: 0;
	}
	li.active {
		border-bottom: none;
	}
	a {
		display: block;
		
		&.nav-toggle {
			right: .35em;
			padding: 0;
		}
		&.nav-toggle:hover {
			background: none;
			padding: 0;
		}
	}
	a:hover {
		color: #fff;
		background: #fd0000;
	}
	ul.top-navigation li ul.dropdown li:last-child a {
		border-bottom: none;
	}

	ul.top-navigation li:last-child a {
		border-bottom: none;
	}

	ul.top-navigation li ul.dropdown {
		visibility: visible;
		opacity: 1;
		display: block;
		margin: 0;
		padding: 0;
		position: inherit;
		width: 100%;
		background: none;
	}

	ul.top-navigation li:hover > ul.dropdown,
	ul.top-navigation li ul.dropdown:hover {
		background: none;
	}

	ul.top-navigation li ul.dropdown a {
		padding: 20px;
	}

	li.has-dropdown>a:after {
		border: none;
	}

	li.has-dropdown:hover>a{
		
	}

	li.has-dropdown>a:hover {
		border-bottom: none;
	} 

	@media #{$mid-point} {
		border: 0;
		padding: 0 20px;

		a {
			display: inline;
		}

		nav a.nav-toggle {
			right: -.15em;
		}

	}
}

nav {
	text-transform: uppercase;
	font-size: 1em;
	z-index: 9999;

	@media #{$mid-point} {
		text-align: left;
		position: absolute;
		top: 3em;
		right: 0;
		padding: 0 2em;
	}

    ul {
    	list-style-type: none;
    	padding: 0;
    	margin: 0;
    }

	li {
		display: inline;
		float: left;
		margin-right: 5px;

	}

	ul.top-navigation li {
		position: relative;
	}

	ul.top-navigation li ul.dropdown {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		transition: .35s ease-in-out;
		margin: 0;
		padding: 0;
		margin-top: 1rem;
		left: 0;
		display: none;
		width: 200px;
	}

	ul.top-navigation li:hover > ul.dropdown,
	ul.top-navigation li ul.dropdown:hover {
		visibility: visible;
		opacity: 1;
		display: block;
		margin: 0;
		padding: 0;
		background: #fd0000;
	}

	ul.top-navigation li ul.dropdown li {
		clear: both;
		width: 100%;
	}

	li.has-dropdown>a {
		padding-right: 2em;
	}

	li.has-dropdown:hover>a{
		background: #fd0000;
	}

	li.has-dropdown>a:after {
		content: "";
	    display: block;
	    width: 0;
	    height: 0;
	    border: inset .4em;
	    border-color: rgba(255, 255, 255, .7) transparent transparent transparent;
	    border-top-style: solid;
	    position: absolute;
	    top: 1.2em;
	    right: .5em;
	}

	a {
		margin: 0;
		padding: 2em 1em;
		color: #fff;
		display: none;

		@media #{$mid-point} {
			display: block;
			padding: 10px;
		}


		&.nav-toggle {
			display: inline;
			position: absolute;
			top: 1.1em;
			right: 1em;
			font-size: 1.9em;
			border: 0;
			padding: 0;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		color: #fff;
	}

	li:hover {
		border-bottom: 1px solid #fd0000;
	}

	li.has-dropdown:hover{
		border-bottom: none;
	} 

	li.has-dropdown ul li:hover {
		border-bottom: none;
	} 

	@media #{$mid-point} {
		li.highlight {
			border: 1px #ccc solid;
			border-radius: 5px;

			&:hover a {
				background: #fff;
				color: $brand-color;
			}
		}
	}

	li.active {
		color: #fff;
		border-bottom: 1px solid #fd0000;
	}

}
